.footer
{
    width: 100%;
    height: 400px;
}
.footer__logo{
    width:200px;
    padding:20px;
}
.footer__form
{
    background-color: #375623;
    width: 45%;
    height: 400px;
    float: left;
}
.footer__main
{
    background-color: #A8D08D;
    width: 55%;
    height: 400px;
    float: right;
}
.footer__menu{
    font-size:22px;
    margin-left:20%;
}
@media only screen and (max-width: 375px) {
    .footer{
        height:500px;
    }
    .footer__form {
        height: 500px;
    }
    .footer__main {
        height: 500px;
    }
    .footer__logo {
        width: 120px;
    }
    .footer__menu {
        font-size: 22px;
        margin-left: 0;
        font-size:18px;
    }
    .footer__menu li{
        padding-top:20px;
    }
}
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}